<!DOCTYPE html>
<html>
<head>
    <title>Game map</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Game map</h1>
    <div id="map"></div>
    <button id="viewModeButton">Switch to View Mode</button>

    <div id="controls">
        <label for="cellType">Terrain: </label>
        <select id="cellType">
            <option value="empty">Empty</option>
            <option value="mountain">Mountain</option>
            <option value="hill">Hill</option>
            <option value="plain">Plain</option>
            <option value="swamp">Swamp</option>
            <option value="water">Water</option>
            <option value="forest">Forest</option>
            <option value="sea">Sea</option>
        </select>
        <label for="featureSelect">Feature: </label>
        <select id="featureSelect">
            <option value="">None</option>
            <option value="ðŸ™ï¸">City</option>
            <option value="Ð“Ð“">City2</option>
            <option value="ðŸ¡">Village</option>
            <option value="ðŸ°">Fort</option>
            <option value="â›©ï¸">Ruins</option>
        </select>
        <input type="text" id="symbolInput" maxlength="1">
        <button id="editModeButton">Switch to Description Mode</button> </br>
        <button id="saveButton">Save Map</button>
        <button id="loadButton">Load Map</button> </br>
        <button id="addRowButton">Add Row (End)</button>
        <button id="addRowStartButton">Add Row (Start)</button>
        <button id="addColButton">Add Column (End)</button>
        <button id="addColStartButton">Add Column (Start)</button></br>
        <input type="file" id="fileInput" accept=".json">
        <div id="tooltipForm" class="hidden">
            <form id="tooltipEditor">
                <label for="tooltipInput">Edit Tooltip:</label><br>
                <textarea id="tooltipInput" rows="4" cols="30" placeholder="Enter description..."></textarea><br>
                <button type="submit">Save</button>
                <button type="button" id="cancelButton">Cancel</button>
            </form>
        </div>
        <div id="customTooltip" class="hidden"></div>
    </div>
    <div id="legend">
        <h3>Legend</h3>
        <div><span style="background-color: #ffffff;"></span>Empty</div>
        <div><span style="background-color: #e6602b;"></span>Mountain</div>
        <div><span style="background-color: #fcc02e;"></span>Hill</div>
        <div><span style="background-color: #fcd971;"></span>Plain</div>
        <div><span style="background-color: #aec55d;"></span>Swamp</div>
        <div><span style="background-color: #3399ff;"></span>Water</div>
        <div><span style="background-color: #228b22;"></span>Forest</div>
        <div><span style="background-color: #005f99;"></span>Sea</div>
    </div>
    <script src="script.js"></script>

</body>
</html>
